<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menuler</div>
                <a class="nav-link" href="/Product/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Urunler
                </a>
                <a class="nav-link" href="/Customer/Index/">
                    <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
                    Musteriler
                </a>
                <a class="nav-link" href="/Category/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Kategoriler
                </a>
                <a class="nav-link" href="/Job/Index/">
                    <div class="sb-nav-link-icon"><i class="fa fa-building"></i></div>
                    Meslekler
                </a>
                <a class="nav-link" href="/Job/AddJob/">
                    <div class="sb-nav-link-icon"><i class="fa fa-briefcase"></i></div>
                    Yeni Meslek Girisi
                </a>
                <a class="nav-link" href="/Product/AddProduct/">
                    <div class="sb-nav-link-icon"><i class="fa fa-shopping-bag"></i></div>
                    Yeni Urun Girisi
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fa fa-battery-quarter"></i></div>
                    Yardim
                </a>
            </div>
        </div>
    </nav>
</div>