@using EntityLayer.Concrete
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Urun Adi</th>
        <th>Urun Fiyati</th>
        <th>Urun Stok Sayisi</th>
        <th>Sil</th>
        <th>Guncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td><a href="/Product/DeleteProduct/@item.Id" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Product/UpdateProduct/@item.Id" class="btn btn-outline-success">Guncelle</a></td>
        </tr>
    }
</table>

